## Data Wrangling Twitter Dogs

The aim of this project is to show proficiency at:

1. Gathering multiple sources of data  - via API and prepared flatfile storage
2. Assessing the data for issues:
3. Cleaning the data
4. Visualizing the data

The tools used to do this are: Python3, Jupyter
Python libraries used: Pandas, Requests, Tweepy, Matplotlib

The project is split into 4 stages - Gather Assess Clean and Visualise

## Section 1: GATHER THE DATA

Gather each of the three pieces of data as described below in a Jupyter Notebook titled wrangle_act.ipynb:

    The WeRateDogs Twitter archive. I am giving this file to you, so imagine it as a file on hand. Download this file manually by clicking the following link: twitter_archive_enhanced.csv - DONE

    The tweet image predictions, i.e., what breed of dog (or other object, animal, etc.) is present in each tweet according to a neural network. This file (image_predictions.tsv) is hosted on Udacity's servers and should be downloaded programmatically using the Requests library and the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv

    Each tweet's retweet count and favorite ("like") count at minimum, and any additional data you find interesting. Using the tweet IDs in the WeRateDogs Twitter archive, query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file. Each tweet's JSON data should be written to its own line. Then read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count. Note: do not include your Twitter API keys, secrets, and tokens in your project submission.

In [1]:
#gather the twitter archive data
import pandas as pd
arch = "twitter-archive-enhanced.csv"
base_df = pd.read_csv(arch)
base_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [2]:
#gather the cloudfront image prediction data
import requests
from io import StringIO

r = requests.get("https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv")
type(r.text)
data = StringIO(r.text)
img_pred_df = pd.read_csv(data, sep="\t")
img_pred_df.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

#pull the additional columns(retweet and fav count at min) from tweepy#
import tweepy as twp

#NOTE need to be careful not to mess up the twitter API - 15min blocks.
import tweepy

consumer_key = ''
consumer_secret = ''
access_token = ""
access_secret = '

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

test_tweet = "666020888022790149"

tweet = api.get_status(test_tweet, tweet_mode="extended")

print(tweet._json.keys())

#COMMENT OUT AND DON'T RERUN
#THIS CODE SCRAPES TWITTER
#THIS DATA IS SAVED IN twiter_scraped.json
import json
#big dictionary to store all the data - should come in handy as I suspect based on the test tweet
#that there's some sort of mismatch in the tweet ID's 
big_json = {}
failed_scrapes = []

#now run the thing
for tweet_id in base_df.tweet_id:
    try:
        tweet = api.get_status(tweet_id, tweet_mode="extended")
        print("Tweet no. {} retrieved successfully!".format(tweet_id))
        big_json[tweet_id]= tweet._json
    except tweepy.TweepError as e:
        print("Problem retrieving tweet no. {}".format(tweet_id))
        failed_scrapes.append(tweet_id)

#showing how i stored the data, don't rerun
with open("twitter_scraped.json", "w") as file:
    file.write(js)

In [27]:
# Open previously scraped  twitter data.
with open("twitter_scraped.json", "r") as file:
    data2 = json.load(file)

data2.keys()

dict_keys(['892420643555336193', '892177421306343426', '891815181378084864', '891689557279858688', '891327558926688256', '891087950875897856', '890971913173991426', '890729181411237888', '890609185150312448', '890240255349198849', '890006608113172480', '889880896479866881', '889665388333682689', '889638837579907072', '889531135344209921', '889278841981685760', '888917238123831296', '888804989199671297', '888554962724278272', '888078434458587136', '887705289381826560', '887517139158093824', '887473957103951883', '887343217045368832', '887101392804085760', '886983233522544640', '886736880519319552', '886680336477933568', '886366144734445568', '886267009285017600', '886258384151887873', '886054160059072513', '885984800019947520', '885528943205470208', '885518971528720385', '885311592912609280', '885167619883638784', '884925521741709313', '884876753390489601', '884562892145688576', '884441805382717440', '884247878851493888', '884162670584377345', '883838122936631299', '883482846933004288', '883360690899218434', '883117836046086144', '882992080364220416', '882762694511734784', '882627270321602560', '882268110199369728', '882045870035918850', '881906580714921986', '881666595344535552', '881633300179243008', '881536004380872706', '881268444196462592', '880935762899988482', '880872448815771648', '880465832366813184', '880221127280381952', '880095782870896641', '879862464715927552', '879674319642796034', '879492040517615616', '879415818425184262', '879376492567855104', '879130579576475649', '879050749262655488', '879008229531029506', '878776093423087618', '878604707211726852', '878404777348136964', '878316110768087041', '878281511006478336', '878057613040115712', '877736472329191424', '877611172832227328', '877556246731214848', '877316821321428993', '877201837425926144', '876838120628539392', '876537666061221889', '876484053909872640', '876120275196170240', '875747767867523072', '875144289856114688', '875097192612077568', '875021211251597312', '874680097055178752', '874434818259525634', '874296783580663808', '874057562936811520', '874012996292530176', '873580283840344065', '873337748698140672', '873213775632977920', '872967104147763200', '872820683541237760', '872620804844003328', '872486979161796608', '872122724285648897', '871879754684805121', '871762521631449091', '871515927908634625', '871166179821445120', '871102520638267392', '871032628920680449', '870804317367881728', '870726314365509632', '870656317836468226', '870374049280663552', '870308999962521604', '870063196459192321', '869772420881756160', '869702957897576449', '869596645499047938', '869227993411051520', '868880397819494401', '868639477480148993', '868622495443632128', '868552278524837888', '867900495410671616', '867774946302451713', '867421006826221569', '867072653475098625', '867051520902168576', '866720684873056260', '866686824827068416', '866450705531457537', '866334964761202691', '866094527597207552', '865718153858494464', '865359393868664832', '865006731092295680', '864873206498414592', '864279568663928832', '864197398364647424', '863907417377173506', '863553081350529029', '863471782782697472', '863432100342583297', '863427515083354112', '863079547188785154', '863062471531167744', '862831371563274240', '862722525377298433', '862457590147678208', '862096992088072192', '861383897657036800', '861288531465048066', '861005113778896900', '860981674716409858', '860924035999428608', '860563773140209665', '860524505164394496', '860276583193509888', '860184849394610176', '860177593139703809', '859924526012018688', '859851578198683649', '859607811541651456', '859196978902773760', '859074603037188101', '858860390427611136', '858843525470990336', '858471635011153920', '858107933456039936', '857989990357356544', '857746408056729600', '857393404942143489', '857263160327368704', '857214891891077121', '857062103051644929', '857029823797047296', '856543823941562368', '856526610513747968', '856330835276025856', '856288084350160898', '856282028240666624', '855862651834028034', '855860136149123072', '855857698524602368', '855851453814013952', '855818117272018944', '855459453768019968', '855245323840757760', '855138241867124737', '854732716440526848', '854482394044301312', '854365224396361728', '854120357044912130', '854010172552949760', '853760880890318849', '853639147608842240', '853299958564483072', '852936405516943360', '852912242202992640', '852672615818899456', '852553447878664193', '852311364735569921', '852226086759018497', '852189679701164033', '851861385021730816', '851591660324737024', '851464819735769094', '851224888060895234', '850753642995093505', '850380195714523136', '850333567704068097', '850145622816686080', '850019790995546112', '849776966551130114', '849668094696017920', '849412302885593088', '849336543269576704', '849051919805034497', '848690551926992896', '848324959059550208', '848213670039564288', '848212111729840128', '847978865427394560', '847971574464610304', '847962785489326080', '847842811428974592', '847617282490613760', '847606175596138505', '847251039262605312', '847157206088847362', '847116187444137987', '846874817362120707', '846514051647705089', '846505985330044928', '846153765933735936', '846139713627017216', '846042936437604353', '845812042753855489', '845677943972139009', '845397057150107648', '845306882940190720', '845098359547420673', '844979544864018432', '844973813909606400', '844580511645339650', '844223788422217728', '843981021012017153', '843856843873095681', '843604394117681152', '843235543001513987', '842846295480000512', '842765311967449089', '842535590457499648', '842163532590374912', '842115215311396866', '841833993020538882', '841680585030541313', '841439858740625411', '841320156043304961', '841314665196081154', '841077006473256960', '840761248237133825', '840728873075638272', '840698636975636481', '840696689258311684', '840632337062862849', '840370681858686976', '840268004936019968', '839990271299457024', '839549326359670784', '839290600511926273', '839239871831150596', '838952994649550848', '838921590096166913', '838916489579200512', '838831947270979586', '838561493054533637', '838476387338051585', '838201503651401729', '838150277551247360', '838085839343206401', '838083903487373313', '837820167694528512', '837482249356513284', '837471256429613056', '837110210464448512', '836989968035819520', '836753516572119041', '836677758902222849', '836648853927522308', '836397794269200385', '836380477523124226', '836260088725786625', '836001077879255040', '835685285446955009', '835574547218894849', '835536468978302976', '835309094223372289', '835297930240217089', '835264098648616962', '835246439529840640', '835172783151792128', '835152434251116546', '834931633769889797', '834786237630337024', '834574053763584002', '834477809192075265', '834458053273591808', '834209720923721728', '834167344700198914', '834089966724603904', '834086379323871233', '833863086058651648', '833826103416520705', '833732339549220864', '833722901757046785', '833479644947025920', '833124694597443584', '832998151111966721', '832769181346996225', '832757312314028032', '832682457690300417', '832645525019123713', '832636094638288896', '832397543355072512', '832369877331693569', '832273440279240704', '832215909146226688', '832215726631055365', '832088576586297345', '832040443403784192', '832032802820481025', '831939777352105988', '831926988323639298', '831911600680497154', '831670449226514432', '831650051525054464', '831552930092285952', '831322785565769729', '831315979191906304', '831309418084069378', '831262627380748289', '830956169170665475', '830583320585068544', '830173239259324417', '830097400375152640', '829878982036299777', '829861396166877184', '829501995190984704', '829449946868879360', '829141528400556032', '829011960981237760', '828801551087042563', '828770345708580865', '828708714936930305', '828650029636317184', '828409743546925057', '828408677031882754', '828381636999917570', '828376505180889089', '828372645993398273', '828361771580813312', '828046555563323392', '828011680017821696', '827933404142436356', '827653905312006145', '827600520311402496', '827324948884643840', '827199976799354881', '826958653328592898', '826848821049180160', '826615380357632002', '826598799820865537', '826598365270007810', '826476773533745153', '826240494070030336', '826204788643753985', '826115272272650244', '825876512159186944', '825829644528148480', '825535076884762624', '825147591692263424', '825120256414846976', '825026590719483904', '824796380199809024', '824775126675836928', '824663926340194305', '824325613288833024', '824297048279236611', '824025158776213504', '823939628516474880', '823719002937630720', '823699002998870016', '823581115634085888', '823333489516937216', '823322678127919110', '823269594223824897', '822975315408461824', '822872901745569793', '822859134160621569', '822647212903690241', '822610361945911296', '822489057087389700', '822462944365645825', '822244816520155136', '822163064745328640', '821886076407029760', '821813639212650496', '821765923262631936', '821522889702862852', '821421320206483457', '821407182352777218', '821153421864615936', '821149554670182400', '821107785811234820', '821044531881721856', '820837357901512704', '820749716845686786', '820690176645140481', '820494788566847489', '820446719150292993', '820314633777061888', '820078625395449857', '820013781606658049', '819952236453363712', '819924195358416896', '819711362133872643', '819588359383371776', '819347104292290561', '819238181065359361', '819227688460238848', '819015337530290176', '819015331746349057', '819006400881917954', '819004803107983360', '818646164899774465', '818627210458333184', '818614493328580609', '818588835076603904', '818536468981415936', '818307523543449600', '818259473185828864', '818145370475810820', '817908911860748288', '817827839487737858', '817777686764523521', '817536400337801217', '817502432452313088', '817423860136083457', '817415592588222464', '817181837579653120', '817171292965273600', '817120970343411712', '817056546584727552', '816829038950027264', '816816676327063552', '816697700272001025', '816450570814898180', '816336735214911488', '816091915477250048', '816062466425819140', '816014286006976512', '815990720817401858', '815966073409433600', '815745968457060357', '815736392542261248', '815639385530101762', '815390420867969024', '814986499976527872', '814638523311648768', '814578408554463233', '814530161257443328', '814153002265309185', '813944609378369540', '813910438903693312', '813812741911748608', '813800681631023104', '813217897535406080', '813202720496779264', '813187593374461952', '813172488309972993', '813157409116065792', '813142292504645637', '813130366689148928', '813127251579564032', '813112105746448384', '813096984823349248', '813081950185472002', '813066809284972545', '813051746834595840', '812781120811126785', '812709060537683968', '812503143955202048', '812466873996607488', '812372279581671427', '811985624773361665', '811744202451197953', '811647686436880384', '811627233043480576', '811386762094317568', '810984652412424192', '810896069567610880', '810657578271330305', '810284430598270976', '810254108431155201', '809920764300447744', '809808892968534016', '809448704142938112', '809220051211603969', '809084759137812480', '808838249661788160', '808733504066486276', '808501579447930884', '808344865868283904', '808134635716833280', '808106460588765185', '808001312164028416', '807621403335917568', '807106840509214720', '807059379405148160', '807010152071229440', '806629075125202948', '806620845233815552', '806576416489959424', '806542213899489280', '806242860592926720', '806219024703037440', '805958939288408065', '805932879469572096', '805826884734976000', '805823200554876929', '805520635690676224', '805487436403003392', '805207613751304193', '804738756058218496', '804475857670639616', '804413760345620481', '804026241225523202', '803773340896923648', '803692223237865472', '803638050916102144', '803380650405482500', '803321560782307329', '803276597545603072', '802952499103731712', '802624713319034886', '802600418706604034', '802572683846291456', '802323869084381190', '802265048156610565', '802239329049477120', '802185808107208704', '801958328846974976', '801854953262350336', '801538201127157760', '801285448605831168', '801167903437357056', '801127390143516673', '801115127852503040', '800859414831898624', '800855607700029440', '800751577355128832', '800513324630806528', '800459316964663297', '800443802682937345', '800388270626521089', '800188575492947969', '800141422401830912', '800018252395122689', '799774291445383169', '799757965289017345', '799422933579902976', '799308762079035393', '799297110730567681', '799063482566066176', '798933969379225600', '798925684722855936', '798705661114773508', '798701998996647937', '798697898615730177', '798694562394996736', '798686750113755136', '798682547630837760', '798673117451325440', '798665375516884993', '798644042770751489', '798628517273620480', '798585098161549313', '798576900688019456', '798340744599797760', '798209839306514432', '797971864723324932', '797545162159308800', '797236660651966464', '797165961484890113', '796904159865868288', '796865951799083009', '796759840936919040', '796563435802726400', '796484825502875648', '796387464403357696', '796177847564038144', '796149749086875649', '796125600683540480', '796116448414461957', '796080075804475393', '796031486298386433', '795464331001561088', '795400264262053889', '795076730285391872', '794983741416415232', '794926597468000259', '794355576146903043', '794332329137291264', '794205286408003585', '793962221541933056', '793845145112371200', '793614319594401792', '793601777308463104', '793500921481273345', '793286476301799424', '793271401113350145', '793256262322548741', '793241302385262592', '793226087023144960', '793210959003287553', '793195938047070209', '793180763617361921', '793165685325201412', '793150605191548928', '793135492858580992', '793120401413079041', '792913359805018113', '792883833364439040', '792773781206999040', '792394556390137856', '792050063153438720', '791821351946420224', '791784077045166082', '791780927877898241', '791774931465953280', '791672322847637504', '791406955684368384', '791312159183634433', '791026214425268224', '790987426131050500', '790946055508652032', '790723298204217344', '790698755171364864', '790581949425475584', '790337589677002753', '790277117346975746', '790227638568808452', '789986466051088384', '789960241177853952', '789903600034189313', '789628658055020548', '789599242079838210', '789530877013393408', '789314372632018944', '789280767834746880', '789268448748703744', '789137962068021249', '788908386943430656', '788765914992902144', '788552643979468800', '788412144018661376', '788178268662984705', '788150585577050112', '788070120937619456', '788039637453406209', '787810552592695296', '787717603741622272', '787397959788929025', '787322443945877504', '787111942498508800', '786963064373534720', '786729988674449408', '786709082849828864', '786664955043049472', '786595970293370880', '786363235746385920', '786286427768250368', '786233965241827333', '786051337297522688', '786036967502913536', '785927819176054784', '785872687017132033', '785639753186217984', '785533386513321988', '785515384317313025', '785264754247995392', '785170936622350336', '784826020293709826', '784517518371221505', '784431430411685888', '784183165795655680', '784057939640352768', '783839966405230592', '783821107061198850', '783695101801398276', '783466772167098368', '783391753726550016', '783347506784731136', '783334639985389568', '783085703974514689', '782969140009107456', '782747134529531904', '782722598790725632', '782598640137187329', '782305867769217024', '782021823840026624', '781955203444699136', '781661882474196992', '781655249211752448', '781524693396357120', '781308096455073793', '781251288990355457', '781163403222056960', '780931614150983680', '780858289093574656', '780800785462489090', '780601303617732608', '780543529827336192', '780496263422808064', '780476555013349377', '780459368902959104', '780192070812196864', '780092040432480260', '780074436359819264', '779834332596887552', '779377524342161408', '779124354206535695', '779056095788752897', '778990705243029504', '778774459159379968', '778764940568104960', '778748913645780993', '778650543019483137', '778624900596654080', '778408200802557953', '778396591732486144', '778383385161035776', '778286810187399168', '778039087836069888', '778027034220126208', '777953400541634568', '777885040357281792', '777684233540206592', '777641927919427584', '777621514455814149', '777189768882946048', '776819012571455488', '776813020089548800', '776477788987613185', '776249906839351296', '776218204058357768', '776201521193218049', '776113305656188928', '776088319444877312', '775898661951791106', '775842724423557120', '775733305207554048', '775729183532220416', '775364825476165632', '775350846108426240', '775085132600442880', '774757898236878852', '774639387460112384', '774314403806253056', '773985732834758656', '773922284943896577', '773704687002451968', '773670353721753600', '773547596996571136', '773336787167145985', '773308824254029826', '773247561583001600', '773191612633579521', '772877495989305348', '772826264096874500', '772615324260794368', '772581559778025472', '772193107915964416', '772152991789019136', '772117678702071809', '772114945936949249', '772102971039580160', '771908950375665664', '771770456517009408', '771500966810099713', '771380798096281600', '771171053431250945', '771136648247640064', '771102124360998913', '771014301343748096', '770787852854652928', '770772759874076672', '770655142660169732', '770414278348247044', '770293558247038976', '770093767776997377', '770069151037685760', '769940425801170949', '769695466921623552', '769335591808995329', '769212283578875904', '768970937022709760', '768909767477751808', '768855141948723200', '768609597686943744', '768596291618299904', '768554158521745409', '768473857036525572', '768193404517830656', '767884188863397888', '767754930266464257', '767500508068192258', '767191397493538821', '767122157629476866', '766864461642756096', '766793450729734144', '766714921925144576', '766693177336135680', '766423258543644672', '766313316352462849', '766078092750233600', '766069199026450432', '766008592277377025', '765719909049503744', '765669560888528897', '765395769549590528', '765371061932261376', '765222098633691136', '764857477905154048', '764259802650378240', '763956972077010945', '763837565564780549', '763183847194451968', '763167063695355904', '763103485927849985', '762699858130116608', '762471784394268675', '762464539388485633', '762316489655476224', '762035686371364864', '761976711479193600', '761750502866649088', '761745352076779520', '761672994376806400', '761599872357261312', '761371037149827077', '761334018830917632', '761292947749015552', '761227390836215808', '761004547850530816', '760893934457552897', '760656994973933572', '760641137271070720', '760539183865880579', '760521673607086080', '760290219849637889', '760252756032651264', '760190180481531904', '760153949710192640', '759943073749200896', '759923798737051648', '759846353224826880', '759793422261743616', '759557299618865152', '759447681597108224', '759446261539934208', '759197388317847553', '759159934323924993', '759099523532779520', '759047813560868866', '758854675097526272', '758828659922702336', '758740312047005698', '758474966123810816', '758467244762497024', '758405701903519748', '758355060040593408', '758099635764359168', '758041019896193024', '757741869644341248', '757729163776290825', '757725642876129280', '757611664640446465', '757597904299253760', '757596066325864448', '757400162377592832', '757393109802180609', '757354760399941633', '756998049151549440', '756939218950160384', '756651752796094464', '756526248105566208', '756303284449767430', '756288534030475264', '756275833623502848', '755955933503782912', '755206590534418437', '755110668769038337', '754874841593970688', '754856583969079297', '754747087846248448', '754482103782404096', '754449512966619136', '754120377874

In [29]:
data_df = pd.DataFrame.from_dict(data2, orient="index")
data_df.head()

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,quoted_status
892420643555336193,Tue Aug 01 16:23:56 +0000 2017,892420643555336193,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN
892177421306343426,Tue Aug 01 00:17:27 +0000 2017,892177421306343426,892177421306343426,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN
891815181378084864,Mon Jul 31 00:18:03 +0000 2017,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN
891689557279858688,Sun Jul 30 15:58:51 +0000 2017,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN
891327558926688256,Sat Jul 29 16:00:24 +0000 2017,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN

In [24]:
base_df.loc[base_df.tweet_id == 870374049280663552]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
115,870374049280663552,NaN,NaN,2017-06-01 20:18:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She really likes the planet. Wou...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/870374049...,13,10,Zoey,None,None,None,None

In [23]:
base_df.tweet_id.loc[]

0       892420643555336193
1       892177421306343426
2       891815181378084864
3       891689557279858688
4       891327558926688256
               ...
2351    666049248165822465
2352    666044226329800704
2353    666033412701032449
2354    666029285002620928
2355    666020888022790149
Name: tweet_id, Length: 2356, dtype: int64

## Gathering Data 1
"Each piece of data is imported into a separate padnas DataFrame at first"

base_df = contains the data provided by Udacity via TSV /n

data_df = contains all the data scraped from the twitter API. This includes ALL subfields, as I want the option of exploring this later on. /n

img_pred_df = contains the image predictions from udacity's cloudfront via HTTP Get request

In [31]:
base_df.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None

In [34]:
#bit of cleaning required to extract tweet_id from index to make a column
data_df.head(2)
data_df.reset_index(inplace=True)
data_df = data_df.rename(columns = {"index": "tweet_id"})

In [35]:
data_df.head(2)

,tweet_id,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,...,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,quoted_status
0,892420643555336193,Tue Aug 01 16:23:56 +0000 2017,892420643555336193,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN
1,892177421306343426,Tue Aug 01 00:17:27 +0000 2017,892177421306343426,892177421306343426,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN

In [33]:
img_pred_df.head(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True

## Decide what extra data to keep from the API - no need to have everything

In [36]:
data_df.columns

Index(['tweet_id', 'created_at', 'id', 'id_str', 'full_text', 'truncated',
       'display_text_range', 'entities', 'extended_entities', 'source',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'is_quote_status', 'retweet_count', 'favorite_count',
       'favorited', 'retweeted', 'possibly_sensitive',
       'possibly_sensitive_appealable', 'lang', 'retweeted_status',
       'quoted_status_id', 'quoted_status_id_str', 'quoted_status_permalink',
       'quoted_status'],
      dtype='object')

In [ ]:
["tweet_id", "favorite_count", "retweet_count", "favorited", "possibly_sensitive"]

In [40]:
data_r = data_df[["tweet_id", "full_text", "favorite_count", "retweet_count", "favorited", "possibly_sensitive"]]

In [41]:
data_r.head()

,tweet_id,full_text,favorite_count,retweet_count,favorited,possibly_sensitive
0,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,35458,7487,False,False
1,892177421306343426,This is Tilly. She's just checking pup on you....,30695,5557,False,False
2,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,23088,3680,False,False
3,891689557279858688,This is Darla. She commenced a snooze mid meal...,38741,7664,False,False
4,891327558926688256,This is Franklin. He would like you to stop ca...,37026,8265,False,False

# Assessing data
Variable reminder:

    data_r = API data
    
    img_pred_df = cloudfront udacity img classifier predictions
    
    base_df = udacity TSV data

## data_r - Visual

In [43]:
#Start with thte API Data - visual inspection
data_r.head(5)

,tweet_id,full_text,favorite_count,retweet_count,favorited,possibly_sensitive
0,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,35458,7487,False,False
1,892177421306343426,This is Tilly. She's just checking pup on you....,30695,5557,False,False
2,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,23088,3680,False,False
3,891689557279858688,This is Darla. She commenced a snooze mid meal...,38741,7664,False,False
4,891327558926688256,This is Franklin. He would like you to stop ca...,37026,8265,False,False

No obvious issues or insights with a quick visual inspection. In order to find out anything useful we'll need to investigate programmatically

## data_r - programmatic

In [45]:
data_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 6 columns):
tweet_id              2331 non-null object
full_text             2331 non-null object
favorite_count        2331 non-null int64
retweet_count         2331 non-null int64
favorited             2331 non-null bool
possibly_sensitive    2197 non-null object
dtypes: bool(1), int64(2), object(3)
memory usage: 93.5+ KB

In [83]:
# returns nothing, so no duplicate records to worry about
assert [data_r.duplicated() == False]

In [88]:
data_r.full_text

0       This is Phineas. He's a mystical boy. Only eve...
1       This is Tilly. She's just checking pup on you....
2       This is Archie. He is a rare Norwegian Pouncin...
3       This is Darla. She commenced a snooze mid meal...
4       This is Franklin. He would like you to stop ca...
                              ...
2326    Here we have a 1949 1st generation vulpix. Enj...
2327    This is a purebred Piers Morgan. Loves to Netf...
2328    Here is a very happy pup. Big fan of well-main...
2329    This is a western brown Mitsubishi terrier. Up...
2330    Here we have a Japanese Irish Setter. Lost eye...
Name: full_text, Length: 2331, dtype: object

Overall: 2331 records - compare with others.

tweet_id - currently a string. at first glance this should be an int, but this is an ordinal variable - we aren't going to be adding or subtracting these. It should stay as a string.

full_text - stays as a string
favorite_count - stays as an int
retweet_count - stays as an int
favorited - Boolean = correct, keep as-is
possibly_sensitive = should be fixed- there's some missing data. also it should be a boolean.

actions required:

1. Change possibly_sensitive column from string to bool. Decide what to do with nonvalues



The author's tweets are themselves fairly unreliable both in structure and in content. For example, Phineas is not "a mystical boy" -he is a specific breed of dog. The author's penchant for lies and inaccuracies means that we can't rely on this column to accurately label our dog. Similarly, vulpix is a pokemon, Mitsubishi is a japanese car, and Piers Morgan is a reactionary greasebag tv presenter - therefore we can't really use the Regex parsing techniques outlined in the course safely on this column to extract reliable information from this column.

In [57]:
#are there any duplioates?
len(data_r.tweet_id.unique())
#confirmed, no duplicates

2331

In [ ]:
data_r.possibly_sensitive.value_counts(dropna=False)

There are 134 missing records for this column - this doesn't mean that 
those records are possibly_sensitive, just that they are not definitely not
possibly_sensitive.

Again, absent a way of verifying them, I can't tell if some NaN's should be True. At this stage
I'm going to drop this column from my analysis as it doesn't tell us anything.

## img_pred_df Visual

In [51]:
img_pred_df.head(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

## img_pred_df Programmatic

In [52]:
img_pred_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

first off, we have fewer than 2331 values so not every tweet in the udacity TSV received a

In [60]:
len(img_pred_df.tweet_id.unique())#
#at least all of these are unique

2075

In [82]:
# returns nothing, so no duplicate records to worry about
assert [img_pred_df.duplicated() == False]

Analysis and Issues :


tweet_id    2075 non-null int64 - fine, should change to a string though for consistency and joining.
jpg_url     2075 non-null object - don't really need for analysis
img_num     2075 non-null int64 - not really clear what this means?
p1          2075 non-null object - looks fine, however will need to check if the algo is using the same set of breeds as the labelled data.
p1_conf     2075 non-null float64 - looks fine
p1_dog      2075 non-null bool - looks fine

#will probably just drop these columns - only care about the top predictions

p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool

In [61]:
img_pred_df.p1.value_counts()

golden_retriever      150
Labrador_retriever    100
Pembroke               89
Chihuahua              83
pug                    57
                     ...
carousel                1
platypus                1
cowboy_boot             1
pillow                  1
pot                     1
Name: p1, Length: 378, dtype: int64

In [63]:
img_pred_df.p1_dog.value_counts()

True     1532
False     543
Name: p1_dog, dtype: int64

clearly the algorithm is detecting some other objects than dogs - this isn't a data quality issue however.
I would just bear this in mind when combining the prediction with the main table.
It's arguable that to tidy this data, the rows should be individual predictions, rather than individual tweets - but I'm sidestepping this by only caring about the prediction that the algorithm is most confident about, for each tweet.

## base_df Visual

In [78]:
base_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

### notes:

From the project page: "I extracted this data programmatically, but I didn't do a very good job. The ratings probably aren't all correct. Same goes for the dog names and probably dog stages (see below for more information on these) too. You'll need to assess and clean these columns if you want to use them for analysis and visualization."


looks like in_reply_to columns may be sparsely populated - not an issue.
Timestamp formatting looks consistent but should be checked programmatically
Same for source

retweeted_status columns look sparse

expanded urls look fine

rating numerator and rating denominator should probably be combined into Rating for Tidy

Might be possible to validate this against FULLTEXT - the problem is the author's natural language might cause them to use the pattern "/10" in an awkward place, but there's grounds for a regex there.

name - again , could be regex validated but subject to same caveats about accuracy

doggo/floofer/pupper/puppo - again, author's use of language and reference to subjects outside the dog of concern in the tweet means we can't just find one of these patterns in the full text and assume that this is the category for this dog.IE what I'm saying is that the Fulltext column can't be used as a source of truth for this. We would probably have to have an extra credit student project where instead of dog breeds the classifier is trying to predict Doggo_stage from the related image. I have too much self respect to carry out such a project.

However theres no reason for these columns to be one hot encoded - consolidate / melt them into a single Doggo_Stage categorical variable with 4 levels - puppo, pupper, floofer, doggo

## base_df Programmatic

In [79]:
base_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

tweet_id                      2356 non-null int64 - can be object, we aren't doing maths here
in_reply_to_status_id         78 non-null float64 -as above. seems like these are replies?
in_reply_to_user_id           78 non-null float64 - as above.
timestamp                     2356 non-null object - should be datetime
source                        2356 non-null object  - no issues
text                          2356 non-null object - no issues
retweeted_status_id           181 non-null float64 - these are retweets?
retweeted_status_user_id      181 non-null float64 - n oissues
retweeted_status_timestamp    181 non-null object - no issues
expanded_urls                 2297 non-null object - no issues, some missing
rating_numerator              2356 non-null int64 
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object

In [80]:
# returns nothing, so no duplicate records to worry about
assert [base_df.duplicated() == False]

#### Addressing named columns in the project details

#### Ratings Columns

In [84]:
base_df.rating_numerator.value_counts() # weirdly no 16 out of 10s

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [89]:
#hehe many wow much drugreference
base_df[base_df.rating_numerator == 420]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
188,855862651834028034,8.558616e+17,194351775.0,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,NaN,NaN,NaN,NaN,420,10,None,None,None,None,None
2074,670842764863651840,NaN,NaN,2015-11-29 05:52:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After so many requests... here you go.\n\nGood...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670842764...,420,10,None,None,None,None,None

In [90]:
base_df[base_df.rating_numerator == 666]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
189,855860136149123072,8.558585e+17,13615722.0,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,NaN,NaN,NaN,NaN,666,10,None,None,None,None,None

Ok so another data quality issue is that the author uses the ratings column to make jokes / express things that relate to the image. Therefore we need to apply some sort of sense to this column - Based on how the project details described how this column works, I'm thinking of using a method (clip?) to truncate the possible values in this column to between 1 and 20, with Nan if it falls outside that range.

In [91]:
# Ratings columns 2 - denominator
base_df.rating_denominator.value_counts() #

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [93]:
base_df[base_df.rating_denominator == 120]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1779,677716515794329600,NaN,NaN,2015-12-18 05:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",IT'S PUPPERGEDDON. Total of 144/120 ...I think...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677716515...,144,120,None,None,None,None,None

Data quality issue here - based on the project details this column should just be ten. Again the author is using different denominators to be fun and expressive - this is not allowed. 

DQ ISSUE - just noticed somethign in the description - the author is actually rating multiple dogs in a single picture! This would explain why the denominator is so high - and may also explain some of the high numerators too.

This means i need to make a call on how to 1. Identify and 2. Treat these cases.

1. Identifying - I can't just write a rule that says "ratings over 20 must be multiples" - because there's 420 and 666 and various other joke ratings.

2. Treating - We can't keep suspected multiple dog images in the dataset without breaking the rules of Tidy Data - each row has to refer to a single observation, which in our case is assumed to be a single tweet about a single dog. There is no way of breaking a single tweet into multiple dogs. Moreover the img_pred_df doesn't tell us which dog in the image is being predicted.

3. Conclusion - given that both identifying and treating these cases would have to be done on a case by case basis for want of a clear rule based approach that resolves these issues, I propose to DROP THESE VALUES FROM THE DATA ENTIRELY, ie:

if numerator is outside range 1-20:  DROP

if denominator is not 10: DROP

Data Tidiness issue here - if this whole column is just 10, let's drop it entirely and rename the numerator column to rating_out_of_10.

# Intermission - clunkiness issue

Having identified several Data Quality and Tidiness issues above, the next step in the analysis before cleaning is to bring the datasets together. This means that I don't have to remember 3 variable names.

Once this is done I can get to cleaning.

First I'll left join base_df <- img_pred_df

Then I'll left join double_df <- data_r.

I'll do this all using tweet_id, as that's the common key between the three.

In [94]:
merged1 = pd.merge(base_df, img_pred_df, how="left", left_on=["tweet_id"], right_on=["tweet_id"])
merged1.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,1.0,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,1.0,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,1.0,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,...,1.0,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,2.0,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True

In [100]:
#need to change data_r.tweet_id from object to int so can merge

data_r.tweet_id = data_r.tweet_id.astype("int64")
data_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 6 columns):
tweet_id              2331 non-null int64
full_text             2331 non-null object
favorite_count        2331 non-null int64
retweet_count         2331 non-null int64
favorited             2331 non-null bool
possibly_sensitive    2197 non-null object
dtypes: bool(1), int64(3), object(2)
memory usage: 93.5+ KB

C:\Users\44774\Anaconda3\envs\tf2\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [101]:
merged2 = pd.merge(merged1, data_r, how="left", left_on=["tweet_id"], right_on=["tweet_id"])
merged2.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,p2_conf,p2_dog,p3,p3_conf,p3_dog,full_text,favorite_count,retweet_count,favorited,possibly_sensitive
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,0.085851,False,banana,0.076110,False,This is Phineas. He's a mystical boy. Only eve...,35458.0,7487.0,False,False
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,0.090647,True,papillon,0.068957,True,This is Tilly. She's just checking pup on you....,30695.0,5557.0,False,False
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,0.078253,True,kelpie,0.031379,True,This is Archie. He is a rare Norwegian Pouncin...,23088.0,3680.0,False,False
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,...,0.168086,True,spatula,0.040836,False,This is Darla. She commenced a snooze mid meal...,38741.0,7664.0,False,False
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,0.225770,True,German_short-haired_pointer,0.175219,True,This is Franklin. He would like you to stop ca...,37026.0,8265.0,False,False

In [103]:
merged2.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo',
       'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf',
       'p2_dog', 'p3', 'p3_conf', 'p3_dog', 'full_text', 'favorite_count',
       'retweet_count', 'favorited', 'possibly_sensitive'],
      dtype='object')

In [157]:
#copy the raw data so it's still there if we need it, available as merged2


df = merged2.copy()
df.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,p2_conf,p2_dog,p3,p3_conf,p3_dog,full_text,favorite_count,retweet_count,favorited,possibly_sensitive
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,0.085851,False,banana,0.07611,False,This is Phineas. He's a mystical boy. Only eve...,35458.0,7487.0,False,False

## Cleaning The Data
Now that we have our data in the correct format, we can go through our issues one by one.

QUALITY:

1. rating Numerator - drop observations outwith (1-20)
2. Rating denominator - drop observations outwith (10)
3. Predictions- drop excess columns
4. Dog Name - lot of a's there - just change to None
5. Text - check that this is the same as full_text
6. Retweeted - "you only want original rating that have images"
6.2 - jpg_uirl
7. Timestamp

8.Possibly Sensitive - in fact all extraneous columns

TIDY:

1. Rating
2. Dog_Status
3. Remove full_text as duplicate

## Q1: rating Numerator 

### Define: drop observations outwith (1-20)


### Code:

In [158]:

df = df.loc[(df.rating_numerator > 0) & (df.rating_numerator < 21)]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,p2_conf,p2_dog,p3,p3_conf,p3_dog,full_text,favorite_count,retweet_count,favorited,possibly_sensitive
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,0.085851,False,banana,0.07611,False,This is Phineas. He's a mystical boy. Only eve...,35458.0,7487.0,False,False

### Test:

In [2]:
df.rating_numerator.value_counts()

NameError: name 'df' is not defined

## Q2 - rating Denominator

### Define:

Drop observations that are not 10

### Code:

In [ ]:
df = df.loc[(df.rating_denominator == 10)]

### Test:

In [ ]:
df.rating_denominator.value_counts()

## Q3 - Predictions

### Define:

Drop excess columns

### Code:

In [ ]:
excess_columns = ["p2", "p2_conf", "p2_dog", "p3", "p3_conf", "p3_dog"]
df = df.drop(columns=excess_columns)

### Test:

In [ ]:
df.info()

## Q4 - Predictions

### Define:

Change "a"'s to None

### Code:

In [ ]:
df.name.replace(to_replace="a", value = None, inplace=True)

### Test:

In [ ]:
df.name.value_counts()

## Q5 - Text

### Define:

Fix text and full_text columns not matching
Choose one to drop

### Code:

In [162]:
#5 shows that the text column has more data - mostly retweets?
different_text = df[df.text != df.full_text]
different_text[["text", "full_text"]]

                                                   text full_text
19    RT @dog_rates: This is Canela. She attempted s...       NaN
95    RT @dog_rates: This is Walter. He won't start ...       NaN
101   RT @loganamnosis: Penelope here is doing me qu...       NaN
104   This is Harry. His ears are activated one at a...       NaN
118   RT @dog_rates: We only rate dogs. This is quit...       NaN
132   RT @dog_rates: This is Jamesy. He gives a kiss...       NaN
155   RT @dog_rates: "Good afternoon class today we'...       NaN
182   RT @dog_rates: This is Luna. It's her first ti...       NaN
211   RT @dog_rates: This is Astrid. She's a guide d...       NaN
247   RT @dog_rates: Here's a heartwarming scene of ...       NaN
253   This is Luna. It's her first time outside and ...       NaN
260   RT @dog_rates: This is Stephan. He just wants ...       NaN
296   This is Lucy. She has a portrait of herself on...       NaN
298   RT @KennyFromDaBlok: 14/10 h*ckin good hats. w...       NaN
363   This is Astrid. She's a guide doggo in trainin...       NaN
382   RT @dog_rates: This is Phil. He's an important...       NaN
506   RT @dog_rates: Meet Sammy. At first I was like...       NaN
566   RT @dog_rates: Everybody drop what you're doin...       NaN
750   This is Reggie. He hugs everyone he meets. 12/...       NaN
815   RT @katieornah: @dog_rates learning a lot at c...       NaN
818   RT @dog_rates: Here's a doggo blowing bubbles....       NaN
890   RT @dog_rates: This... is a Tyrannosaurus rex....       NaN
932   This is Charlie. He pouts until he gets to go ...       NaN
1726  Meet Sammy. At first I was like "that's a snow...       NaN

In [164]:
#5 conclusion - drop full_text as less complete
df.drop(columns="full_text",inplace=True)

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo',
       'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'favorite_count',
       'retweet_count', 'favorited', 'possibly_sensitive'],
      dtype='object')

### Test:

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2322 entries, 0 to 2355
Data columns (total 27 columns):
tweet_id                      2322 non-null int64
in_reply_to_status_id         69 non-null float64
in_reply_to_user_id           69 non-null float64
timestamp                     2322 non-null object
source                        2322 non-null object
text                          2322 non-null object
retweeted_status_id           179 non-null float64
retweeted_status_user_id      179 non-null float64
retweeted_status_timestamp    179 non-null object
expanded_urls                 2270 non-null object
rating_numerator              2322 non-null int64
rating_denominator            2322 non-null int64
name                          2322 non-null object
doggo                         2322 non-null object
floofer                       2322 non-null object
pupper                        2322 non-null object
puppo                         2322 non-null object
jpg_url                       2050 non-null object
img_num                       2050 non-null float64
p1                            2050 non-null object
p1_conf                       2050 non-null float64
p1_dog                        2050 non-null object
full_text                     2298 non-null object
favorite_count                2298 non-null float64
retweet_count                 2298 non-null float64
favorited                     2298 non-null object
possibly_sensitive            2172 non-null object
dtypes: float64(8), int64(3), object(16)
memory usage: 507.9+ KB

## Q6 - Retweets

### Define:

Drop observations that are retweets - ie have a value in retweeted_status_id

### Code:

In [174]:

#6 get rid of retweets - anything that has a value in retweeted_status_id
#is not required
df = df[df.retweeted_status_id.isnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,puppo,jpg_url,img_num,p1,p1_conf,p1_dog,favorite_count,retweet_count,favorited,possibly_sensitive
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,None,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1.0,orange,0.097049,False,35458.0,7487.0,False,False
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,None,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1.0,Chihuahua,0.323581,True,30695.0,5557.0,False,False
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,None,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1.0,Chihuahua,0.716012,True,23088.0,3680.0,False,False
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,...,None,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1.0,paper_towel,0.170278,False,38741.0,7664.0,False,False
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,None,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2.0,basset,0.555712,True,37026.0,8265.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,...,None,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1.0,miniature_pinscher,0.560311,True,96.0,40.0,False,False
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,...,None,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1.0,Rhodesian_ridgeback,0.408143,True,264.0,125.0,False,False
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,...,None,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1.0,German_shepherd,0.596461,True,109.0,39.0,False,False
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,...,None,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1.0,redbone,0.506826,True,119.0,41.0,False,False
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,...,None,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1.0,Welsh_springer_spaniel,0.465074,True,2358.0,454.0,False,False

### Test:

In [175]:
df.retweeted_status_id.value_counts()

Series([], Name: retweeted_status_id, dtype: int64)

## Q7 - Timestamp

### Define:

Change timestamp column datatype to datetime object

### Code:

In [177]:
#7 sort timestamp column
df.timestamp = df.timestamp.astype("datetime64")

### Test:

In [ ]:
df.info()

## Q8 - Removing extra columns

### Define:

Drop columns that do not interest us.

### Code:

In [179]:
#8 possibly sensitive column doesnt tell us anything

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo',
       'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'favorite_count',
       'retweet_count', 'favorited', 'possibly_sensitive'],
      dtype='object')

In [180]:
uneeded_columns = ["in_reply_to_status_id", "in_reply_to_user_id", "source", "retweeted_status_id", "retweeted_status_user_id", "retweeted_status_timestamp", "expanded_urls", "jpg_url", "possibly_sensitive"]

df.drop(columns= uneeded_columns,inplace=True)

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,img_num,p1,p1_conf,p1_dog,favorite_count,retweet_count,favorited
0,892420643555336193,2017-08-01 16:23:56,This is Phineas. He's a mystical boy. Only eve...,13,10,Phineas,None,None,None,None,1.0,orange,0.097049,False,35458.0,7487.0,False

### Test:

In [ ]:
df.head(1)

# End of Data Cleaning - Quality.


# On to Data Cleaning - Tidiness

1. Rating - needs to be one colum - drop denominator, rename df.numerator
2. Dog_Status - pandas melt

## T1 - Fix Rating

### Define:
Drop the Denominator Column and rename Numerator column

### Code:

In [182]:
mapper = {"rating_numerator": "rating_out_of_10"}
df = df.rename(mapper, axis=1)
df.drop("rating_denominator", inplace=True, axis=1)

Index(['tweet_id', 'timestamp', 'text', 'rating_out_of_10',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo',
       'img_num', 'p1', 'p1_conf', 'p1_dog', 'favorite_count', 'retweet_count',
       'favorited'],
      dtype='object')

### Test:

In [184]:

df.head(1)

,tweet_id,timestamp,text,rating_out_of_10,name,doggo,floofer,pupper,puppo,img_num,p1,p1_conf,p1_dog,favorite_count,retweet_count,favorited
0,892420643555336193,2017-08-01 16:23:56,This is Phineas. He's a mystical boy. Only eve...,13,Phineas,None,None,None,None,1.0,orange,0.097049,False,35458.0,7487.0,False

## T2 - Fix Dog_status

### Define:
Replace the various pupper, floof etc one hot encoded columns with a single Dog_status column, with these values as categoricals

### Code:

In [187]:
cols = list(df.columns)
to_remove = ["doggo", "floofer", "pupper", "puppo"]
idvars = [x for x in cols if x not in to_remove]
df.loc[df.doggo == 'doggo', 'dog_class'] = 'doggo'
df.loc[df.floofer == 'floofer', 'dog_class'] = 'floofer'
df.loc[df.pupper == 'pupper', 'dog_class'] = 'pupper'
df.loc[df.puppo == 'puppo', 'dog_class'] = 'puppo'
df.drop(to_remove, inplace=True, axis=1)

['tweet_id',
 'timestamp',
 'text',
 'rating_out_of_10',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo',
 'img_num',
 'p1',
 'p1_conf',
 'p1_dog',
 'favorite_count',
 'retweet_count',
 'favorited']

### Test:

#keeping this as record of mistakes

melted = df.melt(id_vars=idvars,var_name = "doggo_status")
melted.info()
melted.doggo_status.value_counts()

In [200]:
df.p1

0                       orange
1                    Chihuahua
2                    Chihuahua
3                  paper_towel
4                       basset
                 ...
2351        miniature_pinscher
2352       Rhodesian_ridgeback
2353           German_shepherd
2354                   redbone
2355    Welsh_springer_spaniel
Name: p1, Length: 2143, dtype: object

In [201]:
## Storing and acting on Wrangled Data

df.to_csv('df.csv')